target/
.project
.classpath
.settings/
bin/
*.log
logs/
log/
.DS_Store
Thumbs.db
cucumber-report/
cucumber-html-reports/
cucumber.json
reports/
extent-report/
test-output/
screenshots/
*.png
.env
*.env
*.properties.local
allure-report/
